---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
    This blog is built with 
    <a
      class="unset font-bold text-text-body hover:text-text-link"
      href={"https://github.com/flexdinesh/blogster"}
      target="_blank"
    >
      Blogster</a> and hosted in
    <a
      class="unset font-bold text-text-body hover:text-text-link"
      href={"https://www.netlify.com"}
      target="_blank"
    >
      Netlify</a>.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
