---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold flex items-center gap-2">
          {SITE.LOGO && (
            <img
              src={SITE.LOGO}
              alt={`${SITE.NAME} logo`}
              width="30"
              height="30"
              class="h-[30px] w-[30px] rounded-sm object-cover"
            />
          )}
          <span>{SITE.NAME}</span>
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog">
          blog
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>
