---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#0284c7] via-[#0ea5e9] to-[#06b6d4] dark:from-[#24d3ee] dark:via-[#22d3ee] dark:to-[#06b6d4] bg-clip-text text-transparent"
      >
        Travis McGhee
      </span>
    </h1>
    <p class="text-2xl pb-4">IT Graduate exploring Cybersecurity</p>
  </div>
  <div class="space-y-4">
    <p>
      Hello! I'm Travis, a recent graduate with a degree in Information Technology and Informatics and a minor in Digital Communication, Information, and Media. I'm passionate about cybersecurity and exploring the ever-evolving tech landscape.
    </p>
    <p>
      My journey in technology has led me to develop skills in programming with Java and Python, data visualization with Tableau, and web development. I'm constantly learning and looking for opportunities to apply my knowledge in real-world scenarios.
    </p>
    <p>
      Whether it's securing systems, building solutions, or diving into new technologies, I'm always eager to take on new challenges and grow as a professional in the cybersecurity and IT space.
    </p>
  </div>
</section>
