---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
}

const { href, external, underline = true, ...rest } = Astro.props;
---

<a 
  href={href}
  target={ external ? "_blank" : "_self" }
  rel={ external ? "noopener noreferrer" : undefined }
  class={cn("inline-block decoration-black/15 dark:decoration-white/30 text-current transition-colors duration-300 ease-in-out hover-accent", underline && "underline underline-offset-2")}
  {...rest}>
  <slot/>
</a>

<style>
  .hover-accent:hover {
    color: var(--accent);
    text-decoration-color: var(--accent-muted);
  }
</style>
