---
type Props = {
  url: string;
};

const { url } = Astro.props;
---

<div class="relative not-prose flex flex-col items-center justify-center">
  <blockquote
    class="twitter-tweet"
    data-conversation="none"
    data-theme="light"
    data-lang="en"
    data-dnt="true"
  >
    <a class="unset absolute left-0 top-0" href={url}>Loading embedded tweet...</a>
  </blockquote>
</div>
<script is:inline>
  const htmlElement = document.documentElement;
  const globalWindow = window;
  const setTweetTheme = () => {
    const theme = htmlElement.classList.contains("dark") ? "dark" : "light";
    document.querySelectorAll("blockquote.twitter-tweet").forEach((tweet) => {
      tweet.setAttribute("data-theme", theme);
    });
    if (window.twttr?.widgets) {
      window.twttr.widgets.load();
    }
  };

  setTweetTheme();

  if (!globalWindow.__tweetThemeObserver) {
    const observer = new MutationObserver(() => {
      setTweetTheme();
    });
    observer.observe(htmlElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
    globalWindow.__tweetThemeObserver = observer;
  }
</script>
<script
  async
  defer
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
